
<div align="center" class="main">
<h1 class="header">Thando's Blog</h1>
<h4><i>These are my thoughts...</i></h4>
<p  background-color: #eee;>
<%= render :partial => @posts %>

<br />

<%= link_to 'New Post', new_post_path %>
</p>
</div>